@import url("../../global.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

body {
  background-image: linear-gradient(to right, black, rgb(47, 102, 204), black);
}
.line {
  width: 400px;
  height: 4px;
  background-color: antiquewhite;
  border-radius: 100%;
  margin-top: 3px;
}
.position {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
.contato-container {
  background-color: var(--cor-principal);
  width: 1000px;
  height: 200px;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--cor-borda);
}
.titulo {
  text-align: center;
  margin-top: 5px;
  color: var(--cor-letras-info);
  font-family: var(--fonte-titulos);
  align-items: center;
  display: flex;
  flex-direction: column;
}
.footTxt {
  font-family: var(--fonte-info);
  justify-content: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.footTxt ul {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: 10px;
}
.footTxt ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin: 20px;
  color: rgb(255, 253, 253);
}

li > a > i {
  font-size: 50px;
  color: rgb(255, 253, 253);
}

ul > img {
  width: 100%;
}

ul {
  list-style-type: none;
  font-family: --font-txt;
}
* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

main {
  background: url("https://i.pinimg.com/564x/97/9d/9c/979d9ce9b1b529d6abc68511bb315d2c.jpg")
    no-repeat center center;
  background-size: cover;
  height: 96vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
